* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}

section{
    width: 100%;
    min-height: 105vh;
    display: flex; 
    /* justify-content: center; */
}

h1 {
    font-size: 4rem; /*one ram relate to 15 px */
    line-height: 2;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;

}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1.5rem;  
}

img{
    width: 400px;
    margin-bottom: 50px;
    border: 12px solid black;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #b3b3b3;
}
/* Nav bar */

nav {
    height: 64px;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;

}

nav ul { 
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 30px;
}

#title{
    font-size: 1.8rem;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
}

/* home section */

.home {
    background-color: #13D3C7;
}

.home div {
    transform: translateY(64px);
    margin: 5%;
}

.about div {
    margin: 8%;
}